.wrapper {
    padding: 30px 0;
    background-color: #edf1f5;

    .container {
        display: flex;
        justify-content: center;
        gap: 7vw;
        align-items: center;
        margin: 30px;

        .btn {
            border: none;
            height: 50px;
            border-radius: 50%;
        }

        .btn:hover {
            cursor: pointer;
            box-shadow: 0.1em 0.1em 1em #579a7b;

        }

    }

    .card_number {
        text-align: center;
        margin-bottom: 30px;
    }
}