$dark-green: #55847A;

.favDialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $dark-green;

    .form {
        position: absolute;
        top: 30%;
        left: 25%;
        right: 25%;
        bottom: 35%;
        opacity: 1;
        background-color: #edf1f5;
        border-radius: 5px;
        text-align: center;

        .title {
            text-align: center;
            margin: 20px 0;
            font-family: 'Inter';
            font-size: 22px;
            font-weight: 500;
            color: $dark-green;
        }

        .input {
            width: 60%;
            display: block;
            margin: 10px auto;
            padding: 7px;
            border: 1px solid $dark-green;
        }

        .text {
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 300;
        }

        .saveDate_btn {
            display: block;
            width: 60%;
            height: 16%;
            border: none;
            background-color: $dark-green;
            color: #fff;
            margin: 20px auto 0;
            border-radius: 2px;

            font-family: 'Inter';
            font-size: 16px;
            font-weight: 300;
        }

        .saveDate_btn:hover {
            cursor: pointer;
            background-color: #fff;
            border: 1px solid $dark-green;
            color: #396450;

            font-family: 'Inter';
            font-size: 16px;
            font-weight: 300;
        }

        .close_btn {
            border: none;
            color: $dark-green;
            display: block;
            width: 30px;
            height: 30px;
            font-size: x-large;
            position: absolute;
            top: 10px;
            right: 15px;
        }

        .close_btn:hover {
            cursor: pointer;
            border-radius: 50%;
            background-color: #fff;
        }
    }
}

@media screen and (max-width: 599.98px) {
    .favDialog {
        .form {
            left: 15%;
            right: 15%;
        }
    }
}