@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    font-family: $family;
    color: $color;
}

$light: 400;
$normal: 500;

$font-36: 36px;
$font-26: 26px;
$font-20: 20px;
$font-16: 16px;

$dark-green: #55847A;
$white: #fff;
$light-gray: #EDEDED;

$family: 'Inter', sans-serif;


.container_card {
    width: 300px;
    height: 12em;

    text-align: center;
    border: 2px solid $dark-green;
    border-radius: 10px;
    background-color: $white;
    padding: 20px;

    .wordEnglish {
        margin: 25px 0 10px;
        @include font($normal, $font-36, $dark-green);
    }

    .transcription {
        @include font($light, $font-20, $dark-green);
    }

    .wordRussian {
        margin-top: 30px;
        @include font($normal, $font-20, $dark-green);
    }

    .button {
        width: 60%;
        height: 40px;
        border: 1px solid $dark-green;
        background-color: $dark-green;
        border-radius: 5px;
        border: none;
        margin-top: 40px;
        @include font($light, $font-16, $white);
    }

    .button:hover {
        cursor: pointer;
        background-color: $white;
        border: 1px solid $dark-green;
        @include font($normal, $font-16, $dark-green);
    }

    .button:focus {
        border: none;
        border: 1px solid $dark-green;
    }
}

@media screen and (max-width: 599.98px) {
    .container_card {
        width: 60%;
        height: 9em;
        padding: 5px;

        .wordEnglish {
            margin: 15px 0 5px;
            font-size: $font-26;
        }

        .transcription {
            font-size: $font-16;
        }

        .wordRussian {
            font-size: $font-20;
        }

        .button {
            max-width: 80%;
            height: 30px;
            margin-top: 30px;
            font-size: $font-16;
        }

        .button:hover {
            font-size: $font-16;
            font-weight: $light;
        }
    }
}