$main-color: #579a7b;

.container_card {
    width: 300px;
    height: 12em;

    text-align: center;
    border: 2px solid $main-color;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;

    .wordEnglish {
        margin: 25px 0 10px;
        color: $main-color;
        font-family: 'Inter';
        font-size: 36px;
        font-weight: 500;
    }

    .transcription {
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 300;
    }

    .wordRussian {
        color: $main-color;
        margin-top: 30px;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 500;
    }

    .button {
        width: 60%;
        height: 40px;
        border: 1px solid $main-color;
        background-color: $main-color;
        color: #FFF;
        border-radius: 5px;
        border: none;
        margin-top: 40px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 300;
    }

    .button:hover {
        cursor: pointer;
        background-color: white;
        border: 1px solid $main-color;
        color: $main-color;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 500;
    }
}

@media screen and (max-width: 568.98px) {
    .container_card {
        width: 60%;
        min-height: 150px;
        padding: 10px;

        .wordEnglish {
            margin: 15px 0 5px;
            font-size: 26px;
        }

        .transcription {
            font-size: 16px;
        }

        .wordRussian {
            font-size: 20px;
        }

        .button {
            width: 80%;
            height: 30px;
            margin-top: 40px;
            font-size: 14px;
        }

        .button:hover {
            font-size: 16px;
            font-weight: 300;
        }
    }
}