.container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    min-height: 10vh;
    background-color: #61a485;

    position: sticky;
    bottom: 0;
    z-index: 1;

    .block_navigation {
        width: 10em;
        min-height: 3em;
        line-height: 3em;
        color: #FFF;
        border: 2px solid #FFF;
        background-color: #61a485;
        border-radius: 10px;
        text-align: center;
        margin: 10px;

        font-family: 'Inter';
        font-size: 16px;
        font-weight: 300;
    }

    .block_navigation:hover {
        cursor: pointer;
        background-color: #FFF;
        border: 2px solid #61a485;
        color: #61a485;
        font-weight: 500;
    }
}