.container {
    height: 100vh;
    background-color: #edf1f5;
    text-align: center;
    padding-top: 150px;

    .title {
        font-family: 'Inter';
        font-size: 36px;
        font-weight: 500;
        color: #396450;
    }

    .message {
        font-family: 'Inter';
        font-size: 26px;
        font-weight: 500;
        color: #396450;
        margin-top: 30px;
    }

    .link {
        font-family: 'Inter';
        font-size: 30px;
        font-weight: 500;
        color: #396450;
        margin-top: 30px;
    }
}

@media screen and (max-width: 599.98px) {
    .container {
        padding-top: 80px;

        .title {
            font-size: 26px;
        }

        .message {
            font-size: 20px;
            font-weight: 300;
        }

        .link {
            font-size: 22px;
            font-weight: 500;
        }

    }
}