@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    font-family: $family;
    color: $color;
}

$light: 400;

$font-16: 16px;

$dark-green: #55847A;
$white: #fff;
$orange: #feac4c;

$family: 'Inter', sans-serif;


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    background-color: #f0fbf6;
    gap: 5px;
    margin-bottom: 10px;
    padding: 5px;

    .wrapper {
        border: 1px solid $dark-green;
        padding: 5px;
        background-color: $white;
    }

    .btn_container {
        display: flex;
        justify-content: space-around;
        flex: 1;
        gap: 5px;
        padding: 5px;

        .img {
            margin: 3px;
        }

        .btn_save {
            background-color: $dark-green;
        }

        .btn_save[disabled] {
            opacity: 0.5;
        }

        .btn_edit {
            background-color: $orange;
        }

        .cancel_edit_btn {
            background-color: $orange;
        }

        .btn_delete {
            background-color: #fa7b7c;
            padding: 0 3px;
        }
    }

    .error_text {
        text-align: center;
        grid-column: 1/5;
        grid-row: 2/3;
        @include font($light, $font-16, red);

    }
}

@media screen and (max-width: 599.98px) {
    .container {
        display: block;
        text-align: center;
        border: 2px solid $dark-green;
        margin-bottom: 20px;

        .btn_container {
            padding: 5px;
        }
    }
}