.conainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f0fbf6;
    gap: 5px;
    margin-bottom: 10px;
    padding: 5px;

    .wrapper {
        border: 1px solid #579a7b;
        padding: 5px;
        background-color: #FFF;
    }

    .btn_container {
        display: flex;
        justify-content: space-around;
        flex: 1;
        gap: 5px;
        padding: 5px;

        .img {
            margin: 3px;
        }

        .btn_save {
            background-color: #579a7b;
        }

        .btn_edit {
            background-color: #feac4c;
        }

        .cancel_edit_btn {
            background-color: #feac4c;
        }

        .btn_delete {
            background-color: #fa7b7c;
            padding: 0 3px;
        }
    }
}


@media screen and (max-width: 599.98px) {
    .conainer {
        display: block;
        text-align: center;
        border: 2px solid #579a7b;
        margin-bottom: 20px;

        .btn_container {
            padding: 5px;
        }
    }
}