@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    font-family: $family;
    color: $color;
}

$light: 400;
$normal: 500;

$font-22: 22px;
$font-16: 16px;

$dark-green: #55847A;
$white: #fff;

$family: 'Inter', sans-serif;


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    min-height: 60px;
    background-color: $dark-green;
    padding: 0 15px;

    .login_form {
        display: flex;
        gap: 5px;

        .logo {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 5px;
        }

        .profil {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-left: 30px;

            .btn {
                border: 1px solid #FFFFFF;
                border-radius: 7px;
                background-color: $dark-green;
                padding: 7px;
                @include font($light, $font-16, $white);
            }

            .btn:hover,
            .userName:hover {
                cursor: pointer;
                transform: scale(1.1, 1.1);
                box-shadow: 0.3em 0.3em 2em rgba(255, 255, 255, 0.3);
            }

            .userName {
                @include font($normal, $font-22, $white);
            }
        }
    }
}

@media screen and (max-width: 599.98px) {
    .container {
        padding: 0 10px;

        .login_form {
            margin: 5px auto;

            .profil {
                margin-left: 0 0 15px;

                .btn {
                    padding: 4px;
                    font-size: 14px;
                }
            }
        }

        .search_block {
            gap: 5px;
            margin: 7px auto;

            .input {
                height: 25px;
            }
        }
    }
}