@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    font-family: $family;
    color: $color;
}

$light: 400;
$normal: 500;
$bold: 600;

$font-36: 36px;
$font-26: 26px;
$font-20: 20px;
$font-16: 16px;

$dark-green: #55847A;
$white: #fff;
$orange: #feac4c;

$family: 'Inter', sans-serif;

.btn {
    display: block;
    text-align: center;
    width: 15em;
    height: 2.5em;
    line-height: 2.5em;
    background-color: $dark-green;
    border-radius: 10px;
    border: none;
    margin: 4vh 0;
    text-decoration: none;
    @include font($normal, $font-16, $white);
}

.btn:hover {
    cursor: pointer;
    background-color: $orange;
    transform: scale(1.01, 1.01);
    box-shadow: 0.05em 0.05em 0.5em $dark-green;
}

.text {
    @include font($normal, $font-26, $dark-green);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding-left: 6vw;
}

.container {
    height: calc(100vh - 120px);
    padding: 50px 30px;
    background: url('/../public/assets/images/circle\ design.png') no-repeat;
    background-position-y: top;


    .title {
        text-align: center;
        margin-top: 30px;
        @include font($normal, $font-36, $dark-green);
    }

    .welcome {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        width: 100%;
        height: 50%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 599.98px) {

    .text {
        @include font($light, $font-20, $dark-green);
    }

    .image {
        margin: 0 auto;
        object-fit: contain;
    }

    .btn {
        margin: 4vh auto;
        font-weight: $light;
    }

    .container {
        padding: 15px;
        text-align: center;

        .title {
            @include font($normal, $font-26, $dark-green);
        }

        .welcome {
            display: block;
            align-items: center;
            margin-top: 30px;
        }
    }
}