.wrapper {
    border: 1px solid #579a7b;
    padding: 5px;
    background-color: #FFF;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 300;
}

.input {
    width: 95%;
    border: 1px solid #579a7b;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}

.input_red {
    border: 1px solid red;
}

.error_text {
    color: red;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 300;
}


@media screen and (max-width: 599.98px) {

    .wrapper {
        font-size: 16px;
        margin: 5px 0;
    }

    .input {
        width: 85%;
        padding-left: 15px;
        margin: 5px 0;
    }
}