@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    font-family: $family;
    color: $color;
}

$light: 400;
$normal: 500;
// $bold: 600;

$font-36: 36px;
$font-26: 26px;
$font-22: 22px;
$font-20: 20px;
$font-16: 16px;

$dark-green: #55847A;
$white: #fff;
$light-gray: #EDEDED;
// $orange: #feac4c;

$family: 'Inter', sans-serif;


.container {
    height: 100vh;
    text-align: center;
    padding-top: 150px;
    background: url('/../public/assets/images/circle\ design.png') no-repeat;
    background-position-y: top;

    .title {
        @include font($normal, $font-36, $dark-green);
    }

    .message,
    .link {
        margin-top: 30px;
        @include font($normal, $font-26, $dark-green);
    }
}

@media screen and (max-width: 599.98px) {
    .container {
        padding-top: 80px;

        .title {
            font-size: $font-26;
        }

        .message {
            font-size: $font-20;
            font-weight: $light;
        }

        .link {
            font-size: $font-22;
            font-weight: $normal;
        }

    }
}